.page9 {
    width: 100%;
    overflow-y: hidden;
    max-height: 40.3rem;
}

.selectmenuWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 10rem;
    margin: 0.8rem 0.5rem 0 0.5rem ;
    background-color: #E8E8E8;
}

.selectMenu > img {
    width: 10rem;
    height: 9rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.menu_text {
    display: inline-block;
    width: 10rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}

/* bottomWrap */
.totalPrice {
    width: 17rem; 
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
}
