.page9 {
    width: 100%;
    display: inline-block;
}

.menu_bar {
    position: absolute;
    transform: translate(0, -774%);
}

.text_left {
    text-align: left;
}

.textWrap {
    position: absolute;
    left: 10%;
}

.selectMenu {
    height: 8rem;
    margin: 0.8rem 0.5rem 0 0.5rem ;
    background-color: #E8E8E8;
}

/* bottomWrap */
.totalPrice {
    width: 17rem; 
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
}
